@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;800&display=swap');
$Desktop-width: 1440px;
$Mobile-width: 375px;

$yellow-color: #f4d04e;
$white-color: #ffffff;
$grey-color: #808080;
$black-color: #121212;

$fonts-family: 'Figtree', sans-serif; 